<div class="container content">
    <div class="row col-sm-12">
        <h2>Article Edit Page</h2>
        
        <%= render partial: 'form' %>
        <div class="col-md-6"><%= link_to 'cancel', articles_path, class: 'btn btn-cancel' %></div>
    </div>
</div>