<h1>All my Articles</h1>
<br/>
<% @articles.each do |a| %>
    <div class="col-md-12">
        <p><strong>title: </strong><%= a.title %></p>
        <p><strong>description: </strong><%= a.description %></p>
        <hr/>
    </div>
<% end %>