<section class="page">
    <div class="container">
      <div class="col-md-12 text-center">
        <h3>Blog</h3>
      </div>
      <% @articles.each do |a| %>
        <div class="col-md-12">
          <h5><%= link_to "#{a.title}", article_path(a) %></h5>
          <p><%= a.description %></p>
           <p>
            <%= link_to 'Edit', edit_article_path(a), class: 'btn' %>
            <%= link_to 'Delete', article_path(a), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn' %>    
          </p>
        </div>
      <% end %>
    </div>
</section>


