<section class="page">
    <div class="container content">
        <div class="row col-sm-12">
            <h2>New Article</h2>
            
            <%= render partial: 'form' %>
        </div>
    </div>
</section>
