<section class="page">
    <div class="center-content">
        <div class="col-md-8">
            <h3>Edit page</h3>
            <br/>
            <%= render 'form' %>
        </div>
    </div>
</section>
