<section class="page">
    <div class="center-content">
        <div class="col-md-8 text-center">
            <h3>Welcome to <%= @user.username %>'s profile</h3>
            <div>
                <%= gravatar_for @user, size: 150 %>
            </div>
            <h4><%= @user.username %>'s articles: </h4>
            <%= render 'articles/article', obj: @user.articles %>
        </div>
    </div>
</section>
