<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Mediumish</h1>
		<p class="lead">
			 A Ghost theme, medium style, simply perfect for bloggers
		</p>
	</div>

  <section class="featured-posts row">
    <% @articles.each do |article| %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <%= link_to article_path(article) do %>
            <div class="image-content col-md-6 col-xs-12">
              <div class="img-thumb" style="background-image: url('assets/8.jpg')"></div>
            </div>
            <div class="text-content col-md-6 col-xs-12">
              <h4><%= article.title %></h4>
              <p><%= article.description %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
