$light-green: #1abc9c;
$dark-green: #119e82;
$light-grey: #fafafa;
$dark-grey: rgba(0,0,0,.8);
$less-dark-grey: rgba(0,0,0,.44);


a{
  text-decoration: none !important;
  -webkit-transition: all .4s ease-in-out;
  transition: all ease-in-out .4s;
  color: $dark-grey;
  &:hover{
    color: $less-dark-grey;
  }
}

p{
  font-size: 16px;
  color: $less-dark-grey;
}

.align-left{
  text-align: left;
}

img{
  max-width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.subtitle{
  margin-bottom: 20px
}

.navbar.custom-nav{
  border: 1px solid #eee;
  background: #fff;
  .navbar-toggle{
    border: 1px solid #ccc;
    .icon-bar{
      background: #ccc;
    }
  }
  .logo-icon{
    padding: 5px;
    img{
      width: 40px;
      padding-top: 5px; 
    }
  }
  .navbar-brand{
    a{
      font-size: 40px;
      font-weight: bold; 
      color: $light-green;
      &:hover, &.active{
        color: $dark-green;
      }
    }
  }
  .navbar-nav > li > a{
    color: $dark-grey;
    &.active{
      border: 1px solid;
      border-radius: 35px;
      padding: 8px;
      margin-top: 5px;
    }
    &:hover, &.active{
      color: $dark-green;
      background: transparent;
    }
  }
}

section.featured-posts{
  .card{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    min-height: 260px;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
    .image-content{
      height: 258px;
      padding: 0;
      .img-thumb{
        background-size: cover;
        height: 100%;
        display: block;
        background-position: 38% 22% !important;
        background-origin: border-box!important;
        border-top-left-radius: 2px; 
        background-image: image-url("8.jpg");
      }
    }
    .author-info{
      small{
        margin-left: 10px;
        line-height: 2.7em;
        color: rgba(0,0,0,.7);
        font-weight: 300;
      }
     .author-img-wrapper{
      width: auto;
      float: left;
      img{
        width: 30px;
      } 
     }
    }
  }
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-bottom: 15px;
  line-height: 2em;
  padding-top: 15px;
}

.mg-top-20{
  margin-top:20px;
}
.center-page{
  display: flex;
  justify-content: center;
  width: 100%;
}

section.author-page{
  h1{
    margin-top: 0;
    font-size: 30px;
  }
  .post-card{
    h2{
      font-size: 22px;
    }
  }
}

.articles-list{
  .author-card{
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    border: 1px solid #eee;
    font-family: Helvetica;
    h1{
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    h2{
      font-size: 16px;
      color: $less-dark-grey;
      margin-top: 10px;
    }
  }  
}

.author-description{
  font-size: 16px;
  font-weight: 300;
  font-family: Helvetica;
  color: rgba(0,0,0,.6);
  line-height: 1.5em;
}

.greybg{
  background: $light-grey;
  margin-top: 25px;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eee;
  float: left;
  width: 100%;
}

.post-card{
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
  margin-bottom: 15px;
  &.sm{
    border: 1px solid #eee;
    h1{
      font-size: 18px;
    }
    p{
      font-size: 14px;
    }
  }
  img{
    max-width: 100%;
    height: auto;
  }
}

.article-page{
  h1{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
  }
  .article-wrapper{
    margin-top: 25px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #eee;
    float: left;
    width: 100%;
    h1{
      margin-top: 0;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p{
      font-size: 20px;
      line-height: 1.8;
      color: rgba(0,0,0,.8);
      margin-top: 20px;
      font-family: Georgia;
    }
  }
}

.footer{
  img.footer-icon{
    width: 20px;
    margin-top: -5px;
  }
}

@media only screen and (min-width: 980px){
  .author-info{
    position: absolute;
    bottom: 20px;
    right: 0;
    display: block;
  }
  .center-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}