<section class="navigation">
    <header>
        <div class="header-content">
            <div class="topnav" id="myTopnav">
                <%=link_to(image_tag("sedna-logo.png"), root_path) %>
                <%= link_to 'All Articles', articles_path %>
                <%= link_to 'New Article', new_article_path %>
                <a href="#download" class="login">Log in</a>
                <a href="#download" class="btn-white btn-small">Sign up</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </header>
</section>